/* =============== 
      General 
=================*/
@font-face {
    font-family: 'gill-sans-mt', sans-serif;
    src: url(fonts/gill-sans-mt.ttf);
}

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: Poppins;
    font-size: 1rem;
}

main {
    margin-top: 94.23px;
}

ul {
    list-style-type: none;
    padding: 0;
}

@media screen and (max-width: 992px) {
    main {
        margin-top: 80.98px;
    }
}
